sudo: required
dist: trusty
addons:
  chrome: stable
  branches:
language: node_js
cache:
  directories:
    - node_modules
node_js:
  # - lts/*
  - 10
###################
only:
  - master
before_install:
# - start your web application and listen on `localhost`
# - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9515 http://localhost &
install:
  - wget https://raw.githubusercontent.com/ekalinin/github-markdown-toc/master/gh-md-toc
  - chmod a+x gh-md-toc
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
  # - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
script:
  - npm i
  - npm run build
  - npm run test
  - ./gh-md-toc --insert ./README.md
after_success:
  - chmod +x .travis/push.sh
  - .travis/push.sh
after_failure:
  - ls -a
env:
  global:
